    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=386496834740212";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- Fixed navbar -->
    <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" class="scrollto" href="#top">Beachcomber Bliss</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a class="scrollto" href="#top">Home</a></li>
             <li><a class="scrollto" href="#feature">About</a></li>
             <li><a class="scrollto" href="#pricing">Book now</a></li>
             <li><a class="scrollto" href="#blog">Map</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container -->
    </div>
  
  
    <!-- Main component for a primary marketing message or call to action -->
    <div id="top" class="jumbotron">
      <div class="fus-bg"></div>
      <div class="fus-overlay"></div>
      <div class="container">
        <div class="fus-pitch">
          <div class="fus-call-to-action">
            <h1>Beachcomber Bliss</h1>
            <h2>Elegant and Spacious holiday rental in Byron Bay</h2>
            <div class="fus-btns">
              <a href="#feature" class="scrollto btn fus-btn-white">About</a>
              <a href="#pricing" class="btn btn-primary scrollto">Book Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div id="feature" class="fus-section fus-feature fus-white-bg">
      <div class="container">
        <div class="fus-section-header">
          <h3>Explore Byron Bay in style.</h3>
          <h4>Located close to the beach and town center, you'll love Beachcomber Bliss.</h4>
        </div>
        
        <ul class="nav nav-tabs fus-tabs">
          <li class="active"><a href="#feature1" data-toggle="tab"><span class="glyphicon glyphicon-map-marker"></span> <span class="fus-subtitle">Prime Location</span></a></li>
          <li><a href="#feature2" data-toggle="tab"><span class="glyphicon glyphicon-home"></span> <span class="fus-subtitle">Spacious Living</span></a></li>
          <li><a href="#feature3" data-toggle="tab"><span class="glyphicon glyphicon-star-empty"></span> <span class="fus-subtitle">Fully Featured</span></a></li>
          <li><a href="#feature4" data-toggle="tab"><span class="glyphicon glyphicon-tree-conifer"></span> <span class="fus-subtitle">Stunning Scenery</span></a></li>
        </ul>

        <div class="tab-content fus-tab-content">
          <div class="tab-pane active" id="feature1">
            <div class="row">
              <div class="col-md-6 fus-photo">
                <a class="animated bounceInLeft" href="#" target="_blank">
                  <img src="assets/beach.jpeg" alt="Placeholder of Your Feature">
                </a>
              </div>
              <div class="col-md-6">
                <div class="fus-tab-center animated fadeIn">
                  <div class="fus-header">
                    <h3>Prime Location</h3>
                    <h4>Close to the water, close to the city.</h4>
                  </div>
                  <p>This rental property is located in a superb position only 200 meters away from Tallows beach, as well as being close enough to town that you can easily walk or ride there.
                  <p>Tallows beach is only 200 meters out the back door down the track (that is right next to the house)! This allows you to go for a swim, surf or walk along the beach whenever you feel like it.</p>
                  <p>Beachcomber Bliss is still located close to Byron Bay and is only a short walk or ride away, but not so close that you are disturbed by the noises, ensuring that you can have a relaxing holiday.</p>
                  
                  <a href="#pricing" class="btn btn-lg scrollto">Book Now</a>
                </div>
              </div>
              
            </div>
          </div>
          <div class="tab-pane" id="feature2">
            <div class="row">
              <div class="col-md-6">
                <div class="fus-tab-center animated fadeIn">
                  <div class="fus-header">
                    <h3>Spacious Living</h3>
                    <h4>Enjoy your holiday in comfort.</h4>
                  </div>
                  <p>Beachcomber Bliss is a modern yet beautiful house that will ensure that you are relaxing in style.</p>
                  <p>This house is perfect for families of all sizes and ages - even individuals or couples, thanks to its open design and layout.  </p>
                
                  <a href="#pricing" class="btn btn-lg scrollto">Book Now</a>
                </div>
              </div>
              <div class="col-md-6 fus-photo">
                <a class="animated bounceInRight" href="#" target="_blank">
                  <img src="assets/lounge.jpeg" alt="Placeholder of Your Feature">
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="feature3">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 fus-fullwidth-content">
                <div class="fus-tab-center">
                  <div class="fus-header">
                    <h3>Fully Featured</h3>
                    <h4>Comes with everything you need to enjoy your holiday.</h4>                    
                  </div>
                  <p>
                    <a class="animated bounceIn" href="#" target="_blank">
                      <img src="assets/kitchen.jpeg" alt="Placeholder of Your Feature">
                    </a>
                  </p>
                  <p>Beachcomber Bliss comes with everything you need to make your stay as enjoyable as possible.</p>
                  <p>The house comes with a fully featured kitchen including coffee maker and dishwasher as well as a TV and internet.</p>
                  <p>The bedrooms each have all the linen and blankets needed as well as a super comfy mattress. This ensures that you have no stress and are able to simply relax on your holiday.</p>
                  
                  <a href="#pricing" class="btn btn-lg scrollto">Book Now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="feature4">
            <div class="row">
              <div class="col-md-6 fus-photo">
                <a class="animated bounceInLeft" href="#" target="_blank">
                  <img src="assets/backyard.jpg" alt="Placeholder of Your Feature">
                </a>
              </div>
              <div class="col-md-6">
                <div class="fus-tab-center animated fadeIn">
                  <div class="fus-header">
                    <h3>Stunning Scenery</h3>
                    <h4>Byron Bay is home to some wonderful sights and scenery.</h4>
                  </div>
                  <p>Surrounding Beachcomber Bliss is a beautiful forest that really sets the holiday relaxing mood. You will also be able to meet and witness a lot of the local wildlife during your stay.</p>
                  <p>Beachcomber Bliss is also close to local Byron attractions such as the famous lighthouse and stunning Tallows beach.</p>

                  
                 <a href="#pricing" class="btn btn-lg scrollto">Book Now</a>
                </div>
              </div>
              
            </div>
          </div>
          <div class="tab-pane" id="feature5">
            <div class="row">
              <div class="col-md-6">
                <div class="fus-tab-center animated fadeIn">
                  <div class="fus-header">
                    <h3>Feature-Packed</h3>
                    <h4>API, Offline mode, iPhone and Android apps, etc.</h4>
                    
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                  
                  <a href="#pricing" class="btn btn-lg scrollto">Book Now</a>
                </div>
              </div>
              <div class="col-md-6 fus-photo">
                <a class="animated bounceInRight" href="#" target="_blank">
                  <img src="images/placeholder.png" alt="Placeholder of Your Feature">
                </a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
    <div id="pricing" class="fus-section fus-pricing">
      <div class="fus-overlay"></div>
      <div class="container">
        <div class="fus-section-header">
          <h3>Book Now</h3>
          <h4>Click on one of the following links to make a booking.</h4>
        </div>
        <div class="row fus-pricing-table">
          <div class="col-md-4 fus-focus">
            <ul class="media-list">
              <li class="fus-list-header">
                <h5></h5>
                <p>Single Room</p>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <span class="glyphicon glyphicon-ok-circle media-object"></span>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">1 - 2 Guests</h4>
                  <p class="media-text">Choose this option if you would like to rent only one room.</p>
                </div>
              </li>
              
              <li class="media">
                <a href="#" class="btn btn-primary btn-lg btn-block">Book Now</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 fus-notfocus">
            <ul class="media-list">
              <li class="fus-list-header">
                <h5></h5>
                <p>Whole House</p>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <span class="glyphicon glyphicon-ok-circle media-object"></span>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">2+ Guests</h4>
                  <p class="media-text">Choose this option if you would like to book the whole house.</p>
                </div>
              </li>
             
              <li class="media">
                <a href="http://www.raywhite.com/nsw/byron-bay/1065866/" target="blanlol" class="btn btn-primary btn-lg btn-block">Book Now</a>
              </li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
    
    <div id="blog" class="fus-section fus-blog fus-white-bg">
      <div class="container">
        <div class="fus-section-header">
          <h3>Map</h3>
          <h4>Where is Beachcomber Bliss?</h4>
        </div>
        <div class="col-md-6 col-md-offset-3">
       <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=20%20Beachcomber%20Drive%2C%20Byron%20Bay%2C%20New%20South%20Wales%2C%20Australia&key=AIzaSyCh1OX-R7KNANnf5qLwm73AucmWw0fShWE"></iframe>
      </div>
    </div>
    </div>
    
        

    
    <footer class="fus-section"> 
      <div class="fus-overlay"></div>
      <div class="container">
        <ul class="list-inline">
          <li><a class="scrollto" href="#top">Home</a></li>
          <li><a class="scrollto" href="#feature">About</a></li>
          <li><a class="scrollto" href="#pricing">Book Now</a></li>
          <li><a class="scrollto" href="#blog">Map</a></li>
        </ul>

    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/theme.js"></script>
    <script src="js/jquery.zoom-scroller.js"></script>
    
     <!-- Place this tag after the last +1 button tag. -->
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
    
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    

    
    </script>

